{% extends 'base.htm' %} {% block content %}
<br>
<br>
<div class="content">
    <br>
    <br>
    <div class="row">
        <div class="col" id="add_form">
            <form class="form-inline my-2 m-lg-0" method="POST">
                {% csrf_token %}
                <input class="form-control-md mr-sm-2" type="text" placeholder="add item" name="item">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Add To List </button>
            </form>
        </div>

    </div>

    <!--alert-->
    {% if messages%} {% for message in messages%}
    <div class="alert alert-warning alert-dismissable" role="alert">
        {{ message }}
    </div>
    {% endfor %} {% endif %}

    <!--another for-->

    {% if all_items %}
    <table class="table table-bordered">
        {% for things in all_items reversed%}
        <!--if-->
        {% if things.completed %}
        <tr class="table-secondary">
            <td id="stric"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
            <td>
                <center><a href="{% url 'uncross' things.id %}">Uncross</a></center>
            </td>
            <td>
                <center><a href="{% url 'delete' things.id %}">Delete</a></center>
            </td>
        </tr>
        {% else %}

        <tr class="table-secondary">
            <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
            <td>
                <center><a href="{% url 'cross' things.id %}">cross </a></center>
            </td>
            <td>
                <center><a href="{% url 'delete' things.id %}">Delete</a></center>
            </td>
        </tr>
        {% endif %} {% endfor%}
    </table>
    {% endif %}
    <br/>

</div>
{% endblock content %}